* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(26, 24, 24);
    height: auto;
}

nav img {
    margin: 0;
    padding: 0;
    display: block; 
}

.backs {
    width: 100%; 
    height: auto; 
    display: block; 
}